# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Bb]uild/


# VSCode
.vscode

# IntelliJ/CLion
.idea
*.iml
/cmake-build-debug/

# Executables
*.exe
*.out
*.app
*.db

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates